.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl
db/group_vars/backup/terraform.yml
terraform/*.backup
terraform/*.tfstate
*.backup
*.tfstate
terraform/*.tfstate*
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
